@{
    ViewBag.Title = "About";
}

<div class="my-container">
    <div class="about">
        <h2>About Us</h2>
        <p>
            For all your comicbook needs, come to Curt's Comics. Where there's a great atmosphere and fellow comicbook
            enthusiasts for great conversation and positive vibes. We have a great interior design that make you feel like
            your in a new dimension of awesomeness. And also we sell snack, drinks as well as comicbook merchandise.
            Special events will also be held at the shop like game nights and cosplay. Also author signings and live
            action celebrities to come and take selfies with. We hope to see you soon!
        </p>
    </div>
</div>