
@{
    ViewBag.Title = "Favorites";
}

<div class="my-container">

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img class="marvel" src="~/Pics/captainamerica.jpg">
        </div>

        <div class="mySlides fade">
            <img class="marvel" src="~/Pics/ironman.jpg">
        </div>

        <div class="mySlides fade">
            <img class="marvel" src="~/Pics/thor.jpeg">
        </div>

        <div class="mySlides fade">
            <img class="marvel" src="~/Pics/spiderman.jpg">
        </div>

        <div class="mySlides fade">
            <img class="marvel" src="~/Pics/hulk.jpg">
        </div>

    </div>
    <br>
    <p id="favpara">Whether it's Marvel or DC, all comics can be found at Curt's Comics. For me personally I like the heroes you see 
    in these slides. Spiderman is a teenage hero going through normal teenage things like you and me, while stil being a hero.
    Superman on the otherhand has been with us for generations and is still going strong. I like superman the most.
    There are many more comics at my comic book store so don't be shy and visit your friendly neighborhood comicbook guy!</p>
    <div class="slideshow-container2">

        <div class="mySlides2 fade">
            <img class="dc" src="~/Pics/superman.jpg">
        </div>

        <div class="mySlides2 fade">
            <img class="dc" src="~/Pics/batman.jpg">
        </div>

        <div class="mySlides2 fade">
            <img class="dc" src="~/Pics/wonderwoman.jpeg">
        </div>

        <div class="mySlides2 fade">
            <img class="dc" src="~/Pics/aquaman.jpg">
        </div>

        <div class="mySlides2 fade">
            <img class="dc" src="~/Pics/flash.jpg" style="width: 23%">
        </div>

    </div>
</div>
