
@{
    ViewBag.Title = "Location";
}

<div class="my-container">
    <h2>Location</h2>
    <p>Visit the store closest to you and pick up your favorite comic</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d211777.16533641837!2d18.614076301867716!3d-33.96637148346199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scomic%20books!5e0!3m2!1sen!2sza!4v1650397287752!5m2!1sen!2sza" 
            width="800" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

